.todo-input {
  border: 0;
  height: 50px;
  font-size: 34px;
  line-height: 34px;
  width: 100%;
  vertical-align: middle;
  border-bottom: 1px solid gray;
  background: none;
  margin-top: 30px;
}

.todo-input::placeholder {
  text-align: center;
  color: gray;
}

.todo-input:focus {
  outline: none;
  text-align: center;
  border-bottom: linear-gradient(to right, #7BC6CC, #BE93C5);
}

.todolist {
  height: 800px;
  overflow: auto;
}

.todo {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo > span {
  width: 90%;
}

.todo > .flex-row {
  width: 10%;
}

.todo > span {
  font-size: 30px;
  text-align: left;
}

.todo form {
  width: 100%;
}

.todo form > input {
  font-size: 30px;
  line-height: 30px;
  width: 100%;
  text-align: left;
  border: 0;
  background: none;
}

.todo form > input:focus {
  outline: none;
}
